.App {
  margin-top: 150px;
  display: grid;
  justify-items: center;
  align-items: center;
}
.calculator {
  margin: 2px;
  padding: 2px;
  border: 2px solid black;
}
.display {
  height: 10vh;
  background-color: black;
}
.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #9ccaf0;
  padding: 10px;
}
